In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats

## 5.3

In [19]:
A1 = pd.read_excel('A-1.xlsx', header=[0,1])
A1.tail()

                 Date        Ithaca                     Canandaigua           \
   Unnamed: 0_level_1 precipitation Max Temp Min Temp Precipitation Max Temp
28                 29         0.010    27.00    -4.00         0.010    28.00
29                 30         0.030    30.00    11.00         0.010    31.00
30                 31         0.050    34.00    23.00         0.130    38.00
31           sum/avg.         3.150    29.87    13.00         2.400    31.77
32          std. dev.         0.243     7.71    13.62         0.168     7.86


   Min Temp
28    14.00
29    14.00
30    23.00
31    20.23
32     8.81

In [26]:
delta = A1.iloc[:31,:].loc[:,'Ithaca'].loc[:,'Min Temp'] - A1.iloc[:31,:].loc[:,'Canandaigua'].loc[:,'Min Temp']
len(delta)

31

In [27]:
delta.std(ddof=1)

6.437958669326559

In [28]:
eff_size = 31 * (1-delta.autocorr(lag=1))/(1+delta.autocorr(lag=1))
eff_size

12.6985903743179

## 5.5

In [133]:
table48 = pd.read_excel('Table 4.8.xlsx')
table48

    Year  Precipitation (in)
0   1951                4.17
1   1952                5.61
2   1953                3.88
3   1954                1.55
4   1955                2.30
5   1956                5.58
6   1957                5.58
7   1958                5.14
8   1959                4.52
9   1960                1.53
10  1961                4.24
11  1962                1.18
12  1963                3.17
13  1964                4.72
14  1965                2.17
15  1966                2.17
16  1967                3.94
17  1968                0.95
18  1969                1.48
19  1970                5.68
20  1971                4.25
21  1972                3.66
22  1973                2.12
23  1974                1.24
24  1975                3.64
25  1976                8.44
26  1977                5.20
27  1978                2.33
28  1979                2.18
29  1980                3.43

In [134]:
table48['Precipitation (in)'].mean(), table48['Precipitation (in)'].std(ddof=1)

(3.5350000000000006, 1.772766686323367)

### 5.5 b

In [135]:
rv = stats.norm(loc=table48['Precipitation (in)'].mean(), scale=table48['Precipitation (in)'].std(ddof=1))

In [136]:
rv.cdf(2)

0.1932784838145878

In [137]:
rv.cdf(4)-rv.cdf(2)

0.4101771522938672

In [138]:
rv.cdf(6)-rv.cdf(4)

0.3143530688080388

In [139]:
1-rv.cdf(6)

0.0821912950835062

### 5.5 a

In [140]:
F_obs = np.zeros(len(table48))

for i in range(len(table48)):
    F_obs[i] = (((i+1))/(len(table48)))

In [141]:
F_obs[::-1]

array([1.        , 0.96666667, 0.93333333, 0.9       , 0.86666667,
       0.83333333, 0.8       , 0.76666667, 0.73333333, 0.7       ,
       0.66666667, 0.63333333, 0.6       , 0.56666667, 0.53333333,
       0.5       , 0.46666667, 0.43333333, 0.4       , 0.36666667,
       0.33333333, 0.3       , 0.26666667, 0.23333333, 0.2       ,
       0.16666667, 0.13333333, 0.1       , 0.06666667, 0.03333333])

In [142]:
rv = stats.norm(loc=table48['Precipitation (in)'].mean(), scale=table48['Precipitation (in)'].std(ddof=1))

In [143]:
Dn = max(abs(rv2.cdf(table48['Precipitation (in)'].sort_values(ascending=False)) - F_obs[::-1]))
Dn

0.15166179939598745

In [144]:
F_obs = np.zeros(len(table48))

for i in range(len(table48)):
    F_obs[i] = (((i+1-1/3))/(len(table48)+1/3))

Dn = max(abs(rv2.cdf(table48['Precipitation (in)'].sort_values(ascending=False)) - F_obs[::-1]))
Dn

0.13627718401137207

In [145]:
stats.norm?

### 5.5 c

In [160]:
table48 = table48.sort_values(by='Precipitation (in)',ascending=False)
table48['ppf'] = rv.ppf(F_obs[::-1])
table48

    Year  Precipitation (in)       ppf
25  1976                8.44  7.106256
19  1970                5.68  6.369100
1   1952                5.61  5.934838
5   1956                5.58  5.610207
6   1957                5.58  5.343357
26  1977                5.20  5.112233
7   1958                5.14  4.905235
13  1964                4.72  4.715431
8   1959                4.52  4.538295
20  1971                4.25  4.370664
10  1961                4.24  4.210201
0   1951                4.17  4.055096
16  1967                3.94  3.903881
2   1953                3.88  3.755308
21  1972                3.66  3.608268
24  1975                3.64  3.461732
29  1980                3.43  3.314692
12  1963                3.17  3.166119
27  1978                2.33  3.014904
4   1955                2.30  2.859799
28  1979                2.18  2.699336
14  1965                2.17  2.531705
15  1966                2.17  2.354569
22  1973                2.12  2.164765
3   1954                1.55  1.957767
9   1960                1.53  1.726643
18  1969                1.48  1.459793
23  1974                1.24  1.135162
11  1962                1.18  0.700900
17  1968                0.95 -0.036256

In [165]:
table48['Precipitation (in)'].corr(table48['ppf'], method='pearson')

0.9710091887691837

## 5.6